{% extends 'miscosas/en/base.html' %}
{% load static %}

{% block contenido %}

    <h2>Users which have an account</h2>
    {% for pag in lista %}
        <div id="usuario">
          <h3> - Nick: <a href="/usuario/{{pag.usuario.username}}">{{pag.usuario.username}}</a></h3>
            {%if pag.foto%}
              <img src='{% static '/miscosas/'%}{{pag.foto.url}}'  width="80" height="75" align="left">
            {%endif %}

            <p>Voted items: {{pag.usuario.like_set.all.count}}</p>
            <p> Choosen feeders: {{pag.usuario.alimentador_set.all.count}}</p>
          </div>
    {% endfor  %}

{% endblock %}
