{% extends 'miscosas/base.html' %}
{%load i18n%}

{% block contenido %}
        <div id="presentacion_alim">
            <h2>{% trans 'Nombre' %}: {{alim.nombre}}, <a href="{{alim.enlace}}">(Link)</a></h2>
            <form method="POST" action="/?enviar=alimentador">
              {% csrf_token %}
              <input type="hidden" name="alim" value="{{alim.id}}" >
                {%if alim.elegido%}
                        <button type="submit" name= "action" value="eliminar"class="save btn btn-info">{% trans 'Eliminar' %}</button>
                {%else%}
                        <button type="submit" name= "action" value="elegir"class="save btn btn-info">{% trans 'Elegir' %}</button>
                {%endif%}
            </form>

          </div>
        <div id="lista_items">
            <h3> {% trans 'Lista de items' %}: </h3>
                {% for item in alim.item_set.all %}
                    <p><li><a href="{{item.enlace}}">{{item.titulo}}</a> <a href="/item/{{item.id}}">({% trans 'detalle' %})</a></li></p>
                    <p>(Id: {{item.id}})</p>
                  {% endfor %}
          </div>


{% endblock %}
