{% extends 'miscosas/base.html' %}
{%load i18n%}

{% load static %}

{% block contenido %}
    <h2>{% trans 'Lista de alimentadores' %}</h2>
    {% for alim in lista %}
        <h3> - {% trans 'Nombre' %}: <a href="{{alimen.enlace}}">{{alim.nombre}}</a>, <a href="/alimentador/{{alim.id}}">({% trans 'detalle' %})</a></h3>
        <p>{% trans 'Numero de items de este alimentador' %}: {{alim.total_it}}</p>
        <p>{% trans 'Puntuacion total' %}: {{alim.count_likes}}</p>
    {% endfor  %}

{% endblock %}
