{% load static %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'miscosas/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'miscosas/micss.css' %}"> -->
    <link href="/style.css" rel="stylesheet" type="text/css">

    <title>MisCosasWeb</title>
  </head>
  <body>

    <div id="cabecera" >
      <!-- imagen del sitio #2d6360;-->
      <img src="{% static "miscosas/banner2.jpg" %}" width="186" height="150" align="left">
      <h1>MIS COSAS WEB</h1>
        <h2>BIENVENIDO</h2>
        <!-- <p>{{error}}</p> -->
        {% if user.is_authenticated %}

               <h2>{{user.username}}
               <a href="/logout?recurso={{recurso_us}}">Logout</a></h2>
        {% else %}

             <form method="POST" action="/login?recurso={{recurso_us}}">
                {% csrf_token %}

               <input class="textbox" type="text" name="username" placeholder="Username" style = "margin-bottom: 5">
                <input class="textbox" type="password" name="password" placeholder="Contraseña">
                <button type="submit" name ="action" value="Login" style="right: 15%">Login</button>
                <button type="submit" name="action" value="Registrar">Registrar</button>
          {% endif %}
            </form>


    </div>
    <div class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link {{nav_index}}" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{nav_alims}}" href="/alimentadores">Alimentadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{nav_users}}" href="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/informacion">Informacion</a>
      </li>
    </div>
    <div id="contenido">
        {% block contenido %}
        {% endblock %}
    </div>
    <div id="footer">
      <footer >
        <p>hpñaaaaaaaaaaaaaaaaaaaaaa</p>
      </footer>
    </div>
    </body>
</html>
