{% load static %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'miscosas/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'miscosas/micss.css' %}">


    <title>MisCosasWeb</title>
  </head>
  <body>

    <div class="cabecera" >
      <!-- imagen del sitio #2d6360;-->
      <img src="{% static "miscosas/banner.jpg" %}" width="186" height="150" align="left">
      <h1>MIS COSAS WEB</h1>
        <h2>BIENVENIDO</h2>
        {% if user.is_authenticated %}

               <h2>{{user.username}}
               <a href="/logout?recurso={{recurso_us}}">Logout</a></h2>
        {% else %}

             <form method="POST" action="/login?recurso={{recurso_us}}">
                {% csrf_token %}

               <!-- <input class="textbox" type="text" name="referencia del formulario" placeholder="Username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
               <input class="textbox" type="password" name="referencia del formulario" placeholder="password" autocomplete="current-password" required="" id="id_password"> -->
                <!-- <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"></p>
                <p><label for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password"></p> -->
                <input class="textbox" type="text" name="username" placeholder="Username" style = "margin-bottom: 5">
                <input class="textbox" type="password" name="password" placeholder="Contraseña">
                <input class="textbox" type="hidden" name="recurso" value={{recurso_us}}>
                <button type="submit" name ="action" value="Login">Login</button>
                <button type="submit" name="action" value="Registrar">Registrar</button>

            </form>

        {% endif %}
    </div>
    <div class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alimentadores">Alimentadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/informacion">Informacion</a>
      </li>
    </div>
    <div class="contenido">
        {% block contenido %}
        {% endblock %}
    </div>
    </body>
</html>
