{% load static %}
{%load i18n%}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'miscosas/favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'miscosas/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'miscosas/micss.css' %}"> -->
    <link href="/style.css" rel="stylesheet" type="text/css">

    <title>{% trans 'Mis Cosas Web' %}</title>
  </head>
  <body>

    <div id="cabecera" >
      <!-- imagen del sitio #2d6360;-->
      <img src="{% static "miscosas/banner2.jpg" %}" width="186" height="150" align="left">
      <h1>{% trans 'MIS COSAS WEB' %}</h1>
        <h2>{% trans 'BIENVENIDO' %}</h2>
        <!-- <p>{{error}}</p> -->
        {% if user.is_authenticated %}
               <h2>{{user.username}}
               <a href="/logout?recurso={{recurso_us}}">Logout</a></h2>
        {% else %}

             <form method="POST" action="/login?recurso={{recurso_us}}">
                {% csrf_token %}

               <input class="textbox" type="text" name="username" placeholder="Username" style = "margin-bottom: 5">
                <input class="textbox" type="password" name="password" placeholder={% trans "Contraseña"%}>
                <button type="submit" name ="action" value="Login" style="right: 15%">Login</button>
                <button type="submit" name="action" value="Registrar">{% trans 'Registrar' %}</button>
          {% endif %}
            </form>


    </div>
    <div class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link {{nav_index}}" href="/">{% trans 'Inicio' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{nav_alims}}" href="/alimentadores">{% trans 'Alimentadores' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{nav_users}}" href="/usuarios">{% trans 'Usuarios' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{nav_info}}" href="/informacion">{% trans 'Informacion' %}</a>
      </li>
    </div>
    <div id="contenido">
        {% block contenido %}
        {% endblock %}
    </div>
    <div id="footer">
      <footer >
        <h5> {% trans 'Esta aplicacion utiliza los datos proporcionados por' %}:
        {%for alim in alims%}
            <a href="{{alim.enlace}}">{{alim.nombre}}</a>,
        {% endfor%}
        </h5>
        <h5> {% trans 'Página web escrita por Meritxell Diaz para la asignatura de SAT' %}</h5>
      </footer>
    </div>
    </body>
</html>
