{% extends 'miscosas/base.html' %}
{% load static %}
{%load i18n%}

    {% block contenido %}

  <div class="row">
    <div id="prim_col" class="col-xs-12 col-md-8 col-lg-8 col-sm-8">
    <div id="top10">
      <h2>{%trans 'Top 10 ítems más votados:' %}</h2>
      <p>({% trans 'Ordenados empezando por el más votado' %})</p>
          {% for item in top10 %}
                <p><li><a href="{{item.enlace}}">{{item.titulo}}</a> <a href="/item/{{item.id}}">({%trans 'detalle' %})</a></li></p>
                <p>(Id: {{item.id}})</p>
                 <p>Likes: {{item.npos}}</p>
                 <p>Dislikes: {{item.nneg}}</p>
                 {% if user.is_authenticated %}
                 <div id="voto_index">
                   <form method="POST" action="/">
                     {% csrf_token %}
                      <input type="hidden" name="item" value="{{item.id}}" >
                       <button type="submit" name= "action" value="like" class="save btn btn-info"><img src = '{% static '/miscosas/'%}{{item.boton_like}}' width="30" height="15"></button>
                       <button type="submit" name= "action" value="dislike" class="save btn btn-info"><img src = '{% static '/miscosas/'%}{{item.boton_dislike}}' width="30" height="15"></button>
                     </form>
                  </div>
                  {% endif%}
          {% endfor %}
      </div>
      <div id="alimentador_index">
        <h2>{%trans 'Alimentadores seleccionados:' %}</h2>
        {% for alim in alims %}
              <h3> -{% trans 'Nombre' %}: <a href="{{alimen.enlace}}">{{alim.nombre}}</a>, <a href="/alimentador/{{alim.id}}">({%trans 'detalle' %})</a></h3>
              <p>{%trans 'Número de ítems de este alimentador:' %} {{alim.total_it}}</p>
              <p>{%trans 'Puntuación total del alimentador:' %} {{alim.count_likes}}</p>
              <p> (Id: {{alim.id}})</p>
              <form method="POST" action="/">
                {% csrf_token %}
                    <input type="hidden" name="alim" value="{{alim.id}}" >
                    <button type="submit" name= "action" value="elegir"class="save btn btn-info">{%trans 'Elegir' %}</button>
                    <button type="submit" name= "action" value="eliminar"class="save btn btn-info">{%trans 'Eliminar' %}</button>
              </form>
        {% endfor  %}
      </div>
      </div>

      <div id="seg_col" class="col mini-box col mini-box col-xs-12 col-md-4 col-lg-4 col-sm-4">
        <div id="formalimentadores" class="row float-right" >
          <form method="POST" action="/alimentador/-1">
            <h3>{%trans 'Formulario de alimentadores:'%}</h3>
            {% csrf_token %}
            {{form.as_p}}
            <!-- <input class="textbox" type="text" name="referencia del formulario" placeholder="Identificador"> -->
            <button type="submit" action="enviar">{%trans 'Elegir alimentador'%}</button>
          </form>
        </div>
        {% if user.is_authenticated %}
        <div id="top5" class="row float-right">
          <h2>{%trans 'Top 5 últimos ítems votados:' %}</h2>
              {% if top5 %}
                    {% for item in top5 %}
                        <p><li><a href="{{item.enlace}}">{{item.titulo}}</a> <a href="/item/{{item.id}}">({%trans 'detalle' %})</a></li></p>
                            <form method="POST" action="/">
                              {% csrf_token %}
                              <input type="hidden" name="item" value="{{item.id}}" >
                              <button type="submit" name= "action" value="like" class="save btn btn-info"><img src = '{% static '/miscosas/'%}{{item.boton_like}}' width="30" height="15"></button>
                              <button type="submit" name= "action" value="dislike" class="save btn btn-info"><img src = '{% static '/miscosas/'%}{{item.boton_dislike}}' width="30" height="15"></button>
                            </form>

                    {% endfor%}
                {%else%}
                    <p> {% trans 'Vacío' %} </p>
                {%endif%}
            </div>
        {% endif%}
        </div>
      </div>
    {% endblock %}
