{% extends 'miscosas/base.html' %}
{%load i18n%}

{% load static %}

{% block contenido %}
        <h2>{% trans 'Nombre' %}: <a href="{{item.enlace}}">{{item.titulo}}</a></h2>
        <h3>{% trans 'Nombre alimentador' %}: <a href="{{item.alimentador.enlace}}">{{item.alimentador.nombre}}</a>, <a href="/alimentador/{{item.alimentador.id}}">({% trans 'detalle' %})</a></h3>
        <h3> Id: {{item.id}}</h3>
        {%if item.alimentador.tipo == "reddit"%}
              <div id="descrip">
                <h3>{% trans 'Descripción' %}:</h3>
                <p> {{item.descrip|safe}}</p>

              </div>
        {%elif item.alimentador.tipo == "yt"%}
              <div id="video_empo">
                    <iframe width="500" height="275"
                        src="https://www.youtube.com/embed/{{item.id_item}}"
                        frameborder="0"allow="accelerometer; autoplay; encrypted-media; gyroscope;
                        picture-in-picture"allowfullscreen>
                      </iframe>
                </div>
              <div id="descrip">
                  <h3>{% trans 'Descripción' %}:</h3>
                    <p> {{item.descrip}}</p>
              </div>
          {%elif item.alimentador.tipo == "fm"%}
              <img src="{{item.descrip}}" width="186" height="150">
          {%endif%}

          <div id="comentarios_us">
              <h3> {% trans 'Comentarios de los usuarios' %}:</h3>
              {% for comentario in lista %}
                    {%if comentario.foto%}
                      <img src='{% static '/miscosas/'%}{{comentario.foto.url}}'  width="80" height="75" align="left">
                    {%endif %}
                      <p>   - {% trans 'El usuario' %} {{comentario.usuario.username}} {% trans 'ha dicho' %}: {{comentario.texto}}. {% trans 'A dia' %} {{comentario.fecha}}</p>
                    {%if comentario.foto%}
                      <br></br>
                    {%endif %}


              {% endfor  %}
          </div>
          {% if user.is_authenticated %}
          <div class="row">

              <div class="col-xs-12 col-md-8 col-lg-8 col-sm-8">
                <div id="formu_comentario">
                  <h3>{% trans 'Comentar item' %}</h3>
                  <form method="POST" action="/item/{{item.id}}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" name= "action" value="comentario"class="save btn btn-info">{% trans 'Enviar comentario' %}</button>
                  </form>
                </div>
              </div>
              <div class="col mini-box col mini-box col-xs-12 col-md-4 col-lg-4 col-sm-4">
                <div id="votar_item">
                    <!-- <h3>Votar item </h3> -->
                    <form method="POST" action="/item/{{item.id}}">
                      {% csrf_token %}
                      <button type="submit" name= "action" value="like" class="save btn btn-info"><img src = "{{boton_like}}" width="50" height="30"></button>
                      <button type="submit" name= "action" value="dislike" class="save btn btn-info"><img src = "{{boton_dislike}}" width="50" height="30"></button>
                    </form>
                  </div>
                </div>
            </div>
            {% endif %}
            <div id="info_alim_enitem">
                <h3>{% trans 'Informacion del alimentador' %}:</h3>
                <p>{% trans 'Numero de items de este alimentador' %}: {{item.alimentador.total_it}}</p>
                <p>{% trans 'Puntuacion total del alimentador' %}: {{item.alimentador.count_likes}}</p>
            </div>




{% endblock %}
