#cabecera{
  box-sizing: content-box;
  padding: 5px;
  position: relative;

  height:166px;
  text-align:right;
  background: #2d6360 70% url(static/miscosas/{{fondo_cabec}}) no-repeat;
}

h2{
  color: {{color_letra}};
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

h1{
  font-style: italic;
  text-align:center;
  font-weight: 550;
  font-family: 'Libre Baskerville', sans-serif;
  color: {{color_letra}};
}

h3{
  color: {{color_letra}};
  margin-top: 20px;
  font-size: 1.6rem;
}

p{
  color: {{color_letra}};
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#contenido li{
  color: {{color_letra}};
  font-size: 16px;
}


#cabecera h2{
  right:40;
  top:10;
  font-size: 35;
}

#cabecera h1{
  position: absolute;
  top:65;
  left: 475;
  font-size: 45px;
}


#cabecera form{
  position: absolute;
  box-sizing: content-box;
  padding: 5px;
  text-align:right;
  left: 67%;
  width: 400px;
}

.nav{
    box-sizing: content-box;

    top:0px;
    border-color: #007bff;
    border-radius: 40px;
    font: bold 1.0em sans-serif;
    /* justify-content:  center; */
    background-color: white;

}

#contenido{
  box-sizing: content-box;
  margin-top: 20px;
  /* margin-left:25px; */
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

body{
  background: 100% url(static/miscosas/{{fondo}});

}

#cabecera button{
  position: absolute;
  top: 100%;
  right: 32%;
  margin-top: 3;
}

button{
  background-color: #007bff;
  color: #fff;
  border-radius: .25rem;
  border-color: #007bff;
}

#contenido h2{
  font-size: {{tam}};
  box-sizing: content-box;
  font-weight: 600;
}

#contenido h3{
  font-weight: 600;
}

 #top5{
  box-sizing: content-box;
  width: 30%;
  position: absolute;
  right: 3%;
  /* top: 80%;
  text-align:left; */


  border: 3px solid pink;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20%;
  padding-top: 2%;
}

#formalimentadores{
  box-sizing: border-box;
  position: absolute;
  right: 3%;
  border: 3px solid pink;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#top10{
  border-right-color: purple;
  width: 60%;

}

#fotoperfil{
  box-sizing: content-box;
  padding: 5px;
  position: absolute;
  text-align:left;
  right: 3%;
  margin-bottom: 10%;
  border: 3px solid grey;
   /* background-color: #aca2a2; */
  border-radius: 6px;
  margin-top: 20%;
}

#cambiarestilo{
  box-sizing: content-box;
  padding: 5px;

  /* background-color: #41d8ed; */
  border: 3px solid grey;
  border-radius: 6px;
  padding-right: 20%;
  position: absolute;
  right: 3%;
  margin-top: 0%;
  margin-bottom: 10%;


}



 #video_empo{
  margin-top: 20px;
}

#votar_item{
  position: absolute;
  left: 40%;
  margin-top: 4%;
}


/* #info_alim_enitem{
    position: absolute;
    right: 5%;
    bottom: -10%;
    border-right: 3px solid grey;
    border-left: 3px solid grey;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    border-radius: 6px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
} */

#footer{
  margin-top: 20%;
  background-color: #52B1E0;
  /* border-radius: 10px; */
  height: 15%;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  border-top: 2px solid black;
}
#descrip table{
  box-sizing: border-box;
  width: 20px;
}
