{% extends 'miscosas/base.html' %}
{%load i18n%}

{% load static %}

{% block contenido %}

    <h2>{% trans 'Lista de usuarios con cuenta' %}</h2>
    {% for pag in lista %}
        <div id="usuario">
          <h3> - {% trans 'Nombre' %}: <a href="/usuario/{{pag.usuario.username}}">{{pag.usuario.username}}</a></h3>
            {%if pag.foto%}
              <img src='{% static '/miscosas/'%}{{pag.foto.url}}'  width="80" height="75" align="left">
            {%endif %}

            <p>{% trans 'Items votados' %}: {{pag.usuario.like_set.all.count}}</p>
            <p> {% trans 'Comentarios realizados' %}: {{pag.usuario.comentario_set.all.count}}</p>
          </div>
    {% endfor  %}

{% endblock %}
