{% extends 'miscosas/base.html' %}
{% load static %}

{%block contenido%}

  <h2>Nombre: {{usuario.username}}</h2>
    <img src="{{MEDIA_ROOT}}/{{foto.url}}" align="left" width="186" height="150">
    {%if us_log.is_authenticated and us_log == usuario%}
      <div id="cambiarestilo" >
          <h3> Cambiar formato</h3>
          <form method="POST" action="/usuario/{{usuario.username}}">
              {% csrf_token %}
              {{ form_estilo.as_p }}
              <button type="submit" name="action" class="save btn btn-info" value="formato">Guardar</button>
          </form>
          </div>
      <div id="fotoperfil" >
          <h3> Cambiar foto de perfil</h3>
          <form method="POST" action="/usuario/{{usuario.username}}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form_foto.as_p }}
            <button type="submit" name="action"class="save btn btn-info" value="foto">Enviar</button>
          </form>
      </div>
      {%endif%}

{% endblock %}
