{% extends 'miscosas/base.html' %}
{% load static %}

{%block contenido%}

  <h2>Nombre: {{usuario}}</h2>
    <img src="{{foto}}" align="left" width="186" height="150">
  <div id="cambiarestilo" >
      <h2> Cambiar formato</h2>
      <form method="POST" action="/usuario/{{usuario}}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" name="action" class="save btn btn-info" value="formato">Guardar</button>
      </form>
      </div>
  <div id="fotoperfil" >
      <h2> Cambiar foto de perfil</h2>
      <form method="POST" action="/usuario/{{usuario}}">
          {% csrf_token %}
          <input class="textbox" type="url" name="url" placeholder="URL de la imagen">
          <button type="submit" name="action"class="save btn btn-info" value="foto">Enviar</button>
      </form>
  </div>
{% endblock %}
