.cabecera{
  box-sizing: content-box;
  padding: 5px;
  position: relative;

  height:166px;
  text-align:right;
  background: #2d6360 70% url(fondo_cabecera2.jpg) no-repeat;
}

h2{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

h1{
  font-style: italic;
  text-align:center;
  font-weight: 550;
  font-family: 'Libre Baskerville', sans-serif;
  color: black;
}


.cabecera h2{
  right:40;
  top:10;
}

.cabecera h1{

  position: absolute;
  top:65;
  left: 520;

}

.cabecera p{
  position: absolute;
  right: 60;
}

.cabecera form{
  position: relative;
  box-sizing: content-box;
  padding: 5px;
  text-align:right;
  left: 900;
  width: 400px;
}


.nav{
    margin-left: 5;
   top:0px;
   background-color: white;
}

.contenido{
  box-sizing: content-box;
  background-color: #eff0dc;
  height: 100%;
  width: 95%;
  margin:20;
}

body{
  background: 90% url(fondo.jpg);
  position: relative;
}
#id_password {
    position: relative;
    bottom: -40;
}

.cabecera button{
  position: relative;
  bottom: -20;
}

button{
  background-color: #007bff;
  color: #fff;
  border-radius: .25rem;
  border-color: #007bff;
}
